@model BaiTapLonNet.Models.TaiKhoan

@{
    ViewData["Title"] = "HoSo";
}

<h1>Hồ sơ cá nhân</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Họ và tên:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoVaTen)
        </dd>
        <dt class = "col-sm-2">
            Căn cước công dân:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CCCD)
        </dd>
        <dt class = "col-sm-2">
            Email:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="SuaThongTin">Sửa thông tin</a> | <a class="btn btn-primary" asp-action="DoiMatKhau">Đổi mật khẩu</a>
</div>
