@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BaiTapLonNet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BaiTapLonNet.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" asp-append-version="true" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <header>
        <nav class="navbar" style="background-color:aliceblue;">
            <div class="container-fluid">
                <button class="navbar-toggler" style="box-shadow:none;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars position-fixed" style="color:black;top:20px;left:20px;"></i>
                </button>
                <li class="nav-item d-flex justify-content-between align-items-start ">
                    <div style="font-size:14px;" class="ms-2 me-auto ">
                        Thời gian làm việc
                        <div class="fw-bold ">
                            8:00 - 17:00
                        </div>
                    </div>

                </li>
                <li class="nav-item d-flex justify-content-between align-items-start">
                    <div style="font-size:14px;" class="ms-2 me-auto ">
                        Hotline
                        <div class="fw-bold ">0366974520</div>

                    </div>

                </li>
                <li class="nav-item d-flex justify-content-between align-items-start">
                    <div style="font-size:14px;" class="ms-2 me-auto ">
                        Email tư vấn
                        <div class="fw-bold "> duongvantuan372@gmail.com</div>

                    </div>

                </li>
                @if (Context.Session.GetString("email") == null)
                {
                    <a class="navbar-brand text-dark btn btn-warning" style="font-size:13px;font-weight:600;" asp-action="DangNhap" asp-controller="TaiKhoan">Ký gửi BĐS</a>
                }
                else
                {

                    <a class="navbar-brand text-dark btn btn-warning" style="font-size:13px;font-weight:600;" asp-action="KyGui" asp-controller="BatDongSan">Ký gửi BĐS</a>
                }

                <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body position-relative" style="height:80vh">
                        <div class="list-group list-group-flush ">
                            <a href="/Home/Index" class="list-group-item list-group-item-action text-decoration-none text-dark">Trang chủ</a>
                            @Html.ActionLink("Văn phòng cho thuê","Index","BatDongSan",new {loai = "Văn phòng"},new {@class="list-group-item list-group-item-action text-decoration-none text-dark"})
                            @Html.ActionLink("Nhà cho thuê","Index","BatDongSan",new {loai = "Nhà ở"},new {@class="list-group-item list-group-item-action text-decoration-none text-dark"})
                            <a href="#" class="list-group-item list-group-item-action text-decoration-none text-dark">Tin tức</a>
                            <a href="#" class="list-group-item list-group-item-action text-decoration-none text-dark">Liên hệ</a>
                            <div class="position-fixed bottom-0 mb-3 d-flex justify-content-evenly gap-3">

                                @if (Context.Session.GetString("email") != null)
                                {
                                    <button class="btn btn-primary">
                                        Bảng điều khiển
                                    </button>
                                    <a href="/TaiKhoan/HoSo" class="btn btn-primary">
                                        Hồ sơ
                                    </a>
                                    <a asp-action="DangXuat" asp-controller="TaiKhoan" class="btn btn-primary">
                                        Đăng xuất
                                    </a>
                                }
                                else
                                {
                                    <a asp-action="DangNhap" asp-controller="TaiKhoan" class="btn btn-primary">
                                        Đăng nhập
                                    </a>
                                    <a asp-action="DangKy" asp-controller="TaiKhoan" class="btn btn-primary">
                                        Đăng ký
                                    </a>
                                }


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Dương Văn Tuân
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
